body {
  font-family: 'Abel';
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  text-shadow: -1px -1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
               -1px 1px 0 #000;
  background-color: #333;
}
h1, 
h3 {
  font-family: 'Seymour One';
}
h2 {
}
h1 {
  font-size: 75px;
  margin: 0;
  text-shadow: 7px 7px 0 black;
  font-family: 'Seymour One';
}
h2 {
  font-size: 24px;
}
h3 { 
  font-size: 32px;
}
.as-bg-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.as-bg-wrap .as-bg-item {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -ms-transition: opacity 1s linear;
  transition: opacity 1s linear;
}
.as-bg-wrap .as-bg-item.active {
  opacity: 1;
}
section {
  position: relative;
  min-height: 400px;
}
section.header {
  text-align: center;
  padding-top: 100px;
}
section.header .section-inner {
  width: 750px;
  margin: 0 auto;
}
section .section-inner {
  width: 400px;
  max-width: 85%;
}
section.right .section-inner {
  text-align: right;
  position: absolute;
  right: 0;
}

@media (max-width: 700px) {
  h1 {
    font-size: 45px;
  }
  h3 {
    font-size: 28px;
  }
}

